APP_NAME=KuStore
APP_URL=https://kustore.id


# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://kustore.id/auth/google/callback
KUARTAL_ID_ISSUER=https://id.kuartal.id
KUARTAL_ID_CLIENT_ID=
KUARTAL_ID_CLIENT_SECRET=
KUARTAL_ID_REDIRECT_URI=https://kustore.id/auth/kuartal/callback
KUSTORE_PAYMENT_PROVIDER=manual
KUSTORE_CURRENCY=IDR
